{{#each field_collections}}
<div data-role="collapsible" 
     data-inset="true" 
     data-theme="a" 
     data-collapsed="true"
     id="collapsable_{{id_wrapper}}">
 <h3>{{name_wrapper}}</h3>
 {{#each fields}}
 {{#if config.options}}
 <div id="wrapper_{{idfield}}" tabindex="0">
  <label>{{name}} {{#if required}}<span class="requiredAsteric">*</span>{{/if}} </label>
  <select id="{{idfield}}" 
          data-theme="a" 
          name="{{idfield}}" 
          data-native-menu="false" 
          {{multiple}} 
          data-role="{{slider}}" 
          data-mini="{{ctrue}}" 
          {{required}} 
          data-is_enable_field_logic="{{is_enable_field_logic}}"
          class="validateSelectFields needsclick">
   {{#if multiple}}
   <option>Options</option>
   {{#config.options}}
   <option value="{{id}}">{{label}}</option>
   {{/config.options}}   

   {{else}}
   {{#if slider}}  
   {{else}}
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{/if}}
   {{#config.options}}
   <option value="{{id}}" data-field_id="{{field_id}}">{{label}}</option>
   {{/config.options}}   
   {{/if}}    
  </select>
  <label id="label_{{idfield}}" class="errorSelect" style="display: none">{{t "validation.required"}}</label>
 </div>
 {{else}}  
 {{#if isHierarchy}} 
 <div id="wrapper_{{idfield}}" tabindex="0">
  <label>{{name}} {{#if required}} <span class="requiredAsteric">*</span> {{/if}} </label>
  <div id="{{idfield}}" class="tree" {{required}} tabindex="0"></div>
  <label id="label_{{idfield}}" class="errorHierarchy" style="display: none">{{t "validation.required"}}</label>
 </div>
 {{else}}
 {{#if isPhoto}}  
 <div id="wrapper_{{idfield}}" tabindex="0">
  <label>{{name}} {{#if required}} <span class="requiredAsteric">*</span>  {{/if}} </label>
  <div onclick="CameraModel.openCameraDialog({{idfield}}, 'new');" 
       id='property_{{idfield}}_container' 
       class="photo">
   <img class="image" 
        src='{{__value}}' 
        id='{{idfield}}' 
        {{required}} /> 
  </div>
  <label id="label_{{idfield}}" class="errorImage" style="display: none">{{t "validation.required"}}</label>
 </div>
 {{else}}
 {{#if config.locations}}
 <div id="wrapper_{{idfield}}" tabindex="0">
  <label>{{name}}</label>
  <select id="{{idfield}}" 
          data-theme="a" 
          name="{{idfield}}" 
          data-native-menu="false"
          {{required}} 
          class="validateSelectFields needsclick">
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{#config.locationOptions}}
   <option value="{{code}}">{{name}}</option>
   {{/config.locationOptions}}
  </select>
 </div>
 {{else}}
 <div id="wrapper_{{idfield}}" tabindex="0">
  <label for='name'>{{name}} {{#if required}} <span class="requiredAsteric">*</span>  {{/if}} </label>
  {{#ifCond widgetType "user"}}
  <input id="{{idfield}}" data-type="search" name="{{name}}" {{required}}>
  <ul id="user_autocomplete"
      data-role="listview" 
      data-filter="true" 
      data-input="#{{idfield}}"  
      data-inset="true">
  </ul>
  {{else}}
  {{#ifCond widgetType "date"}}
  <input type="{{widgetType}}" 
         id="{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         class="date" 
         {{required}}/>
  {{else}}
  {{#ifCond widgetType "number"}}
  <input type="tel" 
         id="{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         min="{{config.range.minimum}}"
         max="{{config.range.maximum}}"
         data-is_enable_field_logic="{{is_enable_field_logic}}"
         class="skipLogicNumber"
         {{required}}
         {{readonly}}/>
  {{else}}
  <input type="{{widgetType}}" 
         id="{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         {{required}}
         {{readonly}}/>
  {{/ifCond}}
  {{/ifCond}}
  {{/ifCond}}
 </div>
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/each}}
</div>
{{/each}}