/nbproject/private/
/node_modules*

/platforms/*
/plugins/*

/nbproject/*
*DS_Store*

/www/ajaxtest.html
/www/js/core/setting.js
/www/js/dist/*
/www/css/dist/*
/www/js/app/template_precompile/*

*precompile.js

/plugins/android.json
/plugins/ios.json
