<div role="dialog" class="ui-dialog-contain ui-overlay-shadow ui-corner-all">
 <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
  <h1 class="ui-title" role="heading" aria-level="1">
   {{t "dialog.notification"}}
  </h1>
 </div>
 <div data-role="content" class="ui-content ui-body-b" role="main"> 
  <span>{{t "fields.no_fields"}}</span>
  <center>
   <a onclick="Dialog.closeDialog('page-pop-up-no-fields');" data-theme="a" data-role="button" 
      data-inline="true" data-inset="true" class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all" 
      role="button">
    Ok
   </a>
  </center>
 </div>
</div>
