{{#each field_collections}}
<div data-role="collapsible" 
     data-inset="true" 
     data-theme="a" 
     data-collapsed="true"
     id="collapsable_update_online_{{id_wrapper}}">
 <h3>{{name_wrapper}}</h3>
 {{#each fields}}
 {{#if config.options}} 
 <div id="wrapper_update_online_{{idfield}}" tabindex="0">
  <label>{{name}}</label>
  <select id="update_online_{{idfield}}" 
          name="update_online_{{idfield}}" 
          data-theme="a" 
          data-native-menu="false" 
          {{multiple}} 
          data-role="{{slider}}" 
          data-mini="{{ctrue}}" 
          {{required}} 
          data-is_enable_field_logic="{{is_enable_field_logic}}"
          class="validateSelectFields needsclick">
   {{#if multiple}}
   <option>Options</option>
   {{#config.options}}
   <option value="{{id}}" {{selected}}>{{label}}</option>
   {{/config.options}}
   {{else}}
   {{#if slider}} 
   {{else}}
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{/if}}
   {{#config.options}}
   <option value="{{id}}" {{selected}} data-field_id="update_online_{{field_id}}">{{label}}</option>
   {{/config.options}}
   {{/if}}
  </select>
 </div>
 {{else}}  
 {{#if isHierarchy}}
 <div id="wrapper_update_online_{{idfield}}" tabindex="0">
  <label>{{name}}</label>
  <div id="update_online_{{idfield}}" 
       class="tree" 
       require='{{required}}'>
  </div>
 </div>
 {{else}}
 {{#if isPhoto}}
 <div id="wrapper_update_online_{{idfield}}" tabindex="0">
  <span style='display:inline; margin-top:10px'>{{{name}}}</span>
  <div onclick="CameraModel.openCameraDialog({{idfield}}, 'update_online')" 
       id='property_update_online_{{idfield}}_container' 
       class="photo"> 
   <img class="image" 
        src='{{__value}}' 
        id='update_online_{{idfield}}' 
        require='{{required}}' />
  </div>
 </div>
 {{else}}
 {{#if config.locations}}
 <div id="wrapper_update_online_{{idfield}}" tabindex="0">
  <label>{{name}}</label>
  <select id="update_online_{{idfield}}" 
          data-theme="a" 
          name="update_online_{{idfield}}" 
          data-native-menu="false"
          {{required}} 
          class="validateSelectFields needsclick">
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{#config.locationOptions}}
   <option value="{{code}}" {{selected}}>{{name}}</option>
   {{/config.locationOptions}}
  </select>
 </div>
 {{else}}
 {{#ifCond kind "calculation"}}
 <div id="wrapper_update_online_{{idfield}}" tabindex="0" class="invisble-div">
  <label for='name'>{{{name}}}</label>
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         {{required}} 
         {{readonly}}>  
 </div>
 {{else}}
 <div id="wrapper_update_online_{{idfield}}" tabindex="0">
  <label for='name'>{{{name}}}</label>
  {{#ifCond widgetType "date"}}
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         class="date" 
         {{required}} >  
  {{else}}
  {{#ifCond widgetType "number"}}
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         min="{{config.range.minimum}}"
         max="{{config.range.maximum}}"
         data-is_enable_field_logic="{{is_enable_field_logic}}"
         class="skipLogicNumber"
         {{required}} 
         {{readonly}}>  
  {{else}}
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         {{required}} 
         {{readonly}}>  
  {{/ifCond}}
  {{/ifCond}}
 </div>
 {{/ifCond}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/each}}
</div>
{{/each}}