{{#each field_collections}}
<div data-role="collapsible" 
     data-inset="true" 
     data-theme="a" 
     data-collapsed="false">
 <h3>{{name_wrapper}}</h3>
 {{#each fields}}
 {{#if config}} 
 {{#if isHierarchy}} 
 <label>{{name}}</label>
 <div id="update_online_{{idfield}}" class="tree" require='{{required}}' tabindex="0"></div>
 {{else}}
 <div>
  <label>{{name}}</label>
  <select id="update_online_{{idfield}}" 
          name="update_online_{{idfield}}" 
          data-theme="a" 
          data-native-menu="false" 
          {{multiple}} 
          data-role="{{slider}}" 
          data-mini="{{ctrue}}" 
          {{required}} 
          data-is_enable_field_logic="{{is_enable_field_logic}}"
          class="validateSelectFields">
   {{#if multiple}}
   <option>Options</option>
   {{else}}
   {{#if slider}} 
   {{else}}
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{/if}}
   {{/if}}
   {{#config.options}}
   <option value="{{id}}" {{selected}} field_id="update_online_{{field_id}}">{{label}}</option>
   {{/config.options}}
  </select>
 </div>
 {{/if}}
 {{else}}    
 {{#if isPhoto}}  
 <span style='display:inline; margin-top:10px'>{{{name}}}</span>
 <div onclick="openCameraDialog({{idfield}}, 'update_online')" 
      id='property_update_online_{{idfield}}_container' 
      class="photo" tabindex="0"> 
  <img class="image" 
       src='{{__value}}' 
       id='update_online_{{idfield}}' 
       require='{{required}}' />
 </div>
 {{else}}
 <div>
  <label for='name'>{{{name}}}</label>
  {{#ifCond widgetType "date"}}
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         class="date" 
         {{required}} >  
  {{else}}
  <input type="{{widgetType}}" 
         id="update_online_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         {{required}} >  
  {{/ifCond}}
 </div>
 {{/if}}
 {{/if}}
 {{/each}}
</div>
{{/each}}