<!--field collection update in page update site (sites are in local database) -->
{{#each field_collections}}
<div data-role="collapsible" 
     data-inset="true" 
     data-theme="a" 
     data-collapsed="false">
 <h3>{{name_wrapper}}</h3>
 {{#each fields}}
 {{#if config}} 
 {{#if isHierarchy}} 
 <label>{{name}}</label>
 <div id="update_{{idfield}}" class="tree" require='{{required}}'></div>
 {{else}}
 <div>
  <label>{{name}}</label>
  <select id="update_{{idfield}}" 
          data-theme="a" 
          name="update_{{idfield}}" 
          data-native-menu="false" 
          {{multiple}} 
          data-role="{{slider}}" 
          data-mini="{{ctrue}}" 
          {{required}}  
          class="validateSelectFields">
   {{#if multiple}}
   <option>Options</option>
   {{else}}
   {{#if slider}} 
   {{else}}
   <option value="">Option</option>
   <option value="" selected>(no value)</option>
   {{/if}}
   {{/if}}
   {{#config.options}}
   <option value="{{id}}" {{selected}}>{{label}}</option>
   {{/config.options}}
  </select>
 </div>
 {{/if}}
 {{else}}    
 {{#if isPhoto}}  
 <span style='display:inline; margin-top:10px'>{{{name}}}</span>
 <div onclick="openCameraDialog({{idfield}}, 'update')" 
      id='property_update_image_{{idfield}}_container' 
      class="photo" > 
  <img class="image" 
       src='{{__value}}' 
       id='update_image_{{idfield}}' 
       require='{{required}}' />
 </div>
 {{else}}
 <div>
  <label for='name'>{{{name}}}</label>
  {{#ifCond widgetType "date"}}
  <input type="{{widgetType}}" 
         id="update_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         class="date" 
         {{required}} >  
  {{else}}
  <input type="{{widgetType}}" 
         id="update_{{idfield}}" 
         value ="{{__value}}" 
         name="{{name}}" 
         {{required}} >  
  {{/ifCond}}
 </div>
 {{/if}}
 {{/if}}
 {{/each}}
</div>
{{/each}}