{{#if field_collections }}
  <div></div>
{{else}}
  <div class='empty-content'></div>
{{/if}}

<div data-role="collapsible-set" id='site-layers-wrapper'>
  {{#each field_collections}}
    <div data-role="collapsible"
         data-inset="true"
         data-theme="a"
         data-id="{{id_wrapper}}"
         data-collapsed="true"
         id="collapsable_{{id_wrapper}}">
     <h3>{{name_wrapper}}</h3>
    </div>
  {{/each}}
</div>
