<!--update site in local database for name lat and lng-->

<label for="updatesitename"> Name </label>
<input type="text" name="updatesitename" id="updatesitename" class="required" value='{{name}}'/><br>
<div><a href="#page-map"><img src="img/map.png" alt="map icon" width="50" height="50" id="update_icon_map"/></a></div>
<label for="updatelolat"> Location'Lat </label>
<input type="number" name="updatelolat" id="updatelolat" class="required" value='{{lat}}'/>
<label for="updatelolng"> Location'Lng </label>
<input type="number" name="updatelolng" id="updatelolng" class="required" value='{{lng}}'/>
