<!--update site in server database for name lat and lng-->

<label for="updatesitename_online"> Name </label>
<input type="text" 
       name="updatesitename_online" 
       id="updatesitename_online" 
       class="required" 
       value='{{name}}'/><br>
<div>
 <a href="#page-map">
  <img src="img/map.png" 
       alt="map icon" 
       width="50" 
       height="50" 
       id="update_icon_map_online"/>
 </a>
</div>
<label for="updatelolat_online"> Location'Lat </label>
<input type="number" 
       name="updatelolat_online" 
       id="updatelolat_online" 
       class="required" 
       value='{{lat}}'/>
<label for="updatelolng_online"> Location'Lng </label>
<input type="number" 
       name="updatelolng_online" 
       id="updatelolng_online" 
       class="required" 
       value='{{lng}}'/>
