<div id="update_wrapSiteName">
 <label for="updatesitename"> {{t "global.name"}} </label>
 <input type="text" 
        name="updatesitename" 
        id="updatesitename" 
        class="required" 
        value='{{name}}'/><br>
</div>
<div id="update_wrapSiteLocation">
 <div>
  <a href="#page-map">
   <img src="img/map.png" 
        alt="map icon" 
        width="50" 
        height="50" 
        id="update_icon_map"/></a>
 </div>
 <label for="updatelolat"> {{t "global.lat"}} </label>
 <input type="number" 
        name="updatelolat" 
        id="updatelolat" 
        class="required" 
        value='{{lat}}'/>
 <label for="updatelolng"> {{t "global.lng"}} </label>
 <input type="number" 
        name="updatelolng" 
        id="updatelolng" 
        class="required" 
        value='{{lng}}'/>
</div>