<label for="name"> {{t "global.name"}} </label>
<input type="text" 
       name="name" 
       id="name" 
       class="required" 
       value='{{name}}'/><br>
<div>
 <a href="#page-map">
  <img src="img/map.png" 
       alt="map icon" 
       width="50" 
       height="50" 
       id="icon_map"/></a>
</div>
<label for="lat"> {{t "global.lat"}} </label>
<input type="number" 
       name="updatelolat" 
       id="lat" 
       class="required" 
       value='{{lat}}'
       readonly/>
<label for="lng"> {{t "global.lng"}} </label>
<input type="number" 
       name="lng" 
       id="lng" 
       class="required" 
       value='{{lng}}'
       readonly/>
