<div id="update_wrapSiteName_online" class="invisible">
 <label for="updatesitename_online"> {{t "global.name"}} </label>
 <input type="text" 
        name="updatesitename_online" 
        id="updatesitename_online" 
        class="required" 
        value='{{name}}'/><br>
</div>
<div id="update_wrapSiteLocation_online" class="invisible">
 <a href="#page-map">
  <img src="img/map.png" 
       alt="map icon" 
       width="50" 
       height="50" 
       id="update_icon_map_online"/></a>
 <label for="updatelolat_online"> {{t "global.lat"}} </label>
 <input type="number" 
        name="updatelolat_online" 
        id="updatelolat_online" 
        class="required" 
        value='{{lat}}'/>
 <label for="updatelolng_online"> {{t "global.lng"}} </label>
 <input type="number" 
        name="updatelolng_online" 
        id="updatelolng_online" 
        class="required" 
        value='{{lng}}'/>
</div>