.invalid{
    display: none;
    text-align: center;
    color: orangered;
    border-style: groove;
    font-size: 18px;
    background-color: #FFCC99;
    border-radius:10px;
}
.success{
    display: none;
    text-align: center;
    color: green;
    border-style: groove;
    font-size: 18px;
    background-color: #FFCC99;
    border-radius:10px;
}
p{
    display: none;
    color: violet;  
}
#internet{
    display:none; 
    color:red; 
}
em { color: red; font-weight: bold; padding-right: .25em; }
sup{
    font-size: 8px;
}
input[type="checkbox"]{
    display:block;
    margin-top:5px;
}
#updateLatLng_map{
    display: none;
    visibility: hidden;
}
.theme-button{
    font-weight: normal;
}

#exitemail {
    color:red;
}
#passmatch{
    color:red;
}
#info_sign_in{
    display: none;
    color: orange;
    font-weight: normal;
}
.loader {
        display: none;
        position: absolute;
        top: 45%;
        left: 45%;
        width: 40px;
        height: 40px;
        padding:30px 15px 0px;
        z-index: 1002;
        text-align:center;
        overflow: auto;
}