.invalid{
    display: none;
    text-align: center;
    color: orangered;
    border-style: groove;
    font-size: 18px;
    background-color: #FFCC99;
    border-radius:10px;
}
.success{
    display: none;
    text-align: center;
    color: green;
    border-style: groove;
    font-size: 18px;
    background-color: #FFCC99;
    border-radius:10px;
}
.required_data{
    display: none;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
    border-color: #111;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #111;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -120px;
    padding: 15px;
}

#internet{
    display:none;
    color:red;
}
em { color: red; font-weight: bold; padding-right: .25em; }
sup{
    font-size: 8px;
}
input[type="checkbox"]{
    display:block;
    margin-top:5px;
}
#updateLatLng_map{
    display: none;
    visibility: hidden;
}
.theme-button{
    font-weight: normal;
}

#exitemail {
    color:red;
}
#passmatch{
    color:red;
}

#info_sign_in{
    display: none;
    color: orange;
    font-weight: normal;
}
