label.error,
label.errorHierarchy,
label.errorImage,
label.errorSelect
{
    color: red;
    font-size: 10px !important;
    font-weight: normal;
    margin-top: 5px !important;
}

div.error{
  border: 1px solid red;
}

input.error {
    border: 1px solid red !important;
}

.ui-select.error {
    border: 1px solid red !important;
    border-radius: 16px;
}

.ui-select.valid {
    border: 1px solid #f3f3f3 !important;
    border-radius: 16px;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 0; }
}