label.error {
    color: red;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.2em !important;
    width: 100%;
    float: left;
    margin-bottom: 30px !important;
}

input.error {
    border: 1px solid red !important;
}

input.error {
    border: 1px solid red !important;
}

@media screen and (orientation: portrait){
    label.error { margin-left: 0; display: block; }
}

@media screen and (orientation: landscape){
    label.error { display: inline-block; margin-left: 0; }
}