* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout:none;                 /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
        );
    background-attachment:fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', "Helvetica", "Arial", "sans-serif";
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:none;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.photo {
    cursor: pointer;
    width: 60px;
    height: 50px;
    background-image: url(../img/picture-icon.png);
    background-repeat: no-repeat;
    padding: 0px;
    background-position: 0px;
    background-size: cover;
    overflow: hidden;
}
.image{
    width: 64px;
    height: 54px;
    margin-left: -2px;
    margin-top: -2px;
}
.camera_icon{
    width: 40px;
    height: 39px;
    float: left;
    display: block;
    margin: 2px 2px 13px 0px;
}
.camera_icon1{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 30px;
}
#div-language {
    float: right;
    margin-right:0.5em;
}

#div-language .ui-select{
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}
#popUpDiv{
    z-index: 100;
    position: absolute;
    background-color: rgba(123, 123,123, 0.8);
    display: none;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
}
#popupSelect{
    z-index: 1000;
    position: absolute;
    top: 130px;
    left: 50px;
}
.ui-dialog-contain {
    margin: 10% auto 15px auto;
    padding: 0;
    position: relative;
    top: -15px;
}
.date{
    background: url("../img/calendar.png") !important;
    background-position: 99.50% center !important;
    background-repeat: no-repeat !important;
    margin-right: 31px !important;
}

.highlighted{
    -webkit-box-shadow: 0 0 12px #3388cc;
    -moz-box-shadow: 0 0 12px #3388cc;
    box-shadow: 0 0 12px #3388cc;
}

.ui-select.highlighted {
    -webkit-box-shadow: 0 0 12px #3388cc;
    -moz-box-shadow: 0 0 12px #3388cc;
    box-shadow: 0 0 12px #3388cc;
    border-radius: 16px;
}

.ui-select.unhighlighted {
    border: 1px solid #f3f3f3 !important;
    border-radius: 16px;
}

.ui-dialog{
    min-height: 100% !important;
    background: #f3f3f3 !important;
}

.ui-page{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
}

.ui-slider-handle-snapping {
    -webkit-transition: none;
    -moz-transition: none;
}

.invisble-div {
    position: absolute;
    left: -9999px;
}

.widget table{
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-color: grey;
}

.widget tr, td{
    border: 1px solid #ccc;
    height: auto;
}

.widget td{
  width: auto !important;
  padding: 0px 5px;
}

.loading {
  text-align: center;
  min-height: 30px;
  background: url('../../img/content-loader.gif') no-repeat center 0;
}
.no-click {
  pointer-events: none;
}

.empty-content {
  background-color: #f3f3f3;
  min-height: 32px;
}
