.ui-loader .ui-icon-loading{
  background-color: none;
}
.ui-page-theme-b .ui-btn, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b, html head+body .ui-btn.ui-btn-b:visited,
.ui-shadow-inset,
.ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper,
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html .ui-panel-page-container-b, html body .ui-group-theme-b .ui-body-inherit
{
  text-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ui-collapsible.error h3.ui-collapsible-heading a {
  color: red !important;
}
label.valid {
  display: none;
}
